.body {
    background-image: url("../images/ajw.jpg");
    background-size:cover;
 	 width: 100%;
 	 height: 100%;
 	 webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
	position:absolute;
	z-index:-1;

}
.formulario{
	position: absolute;
	background-color: white;
	opacity: 0.82;
	margin-left:3em;
	margin-top:2em;
	border-radius: 1em 1em 1em 1em;
	width:30em;

}

.gestion{
	position: absolute;
	background-color: white;
	opacity: 0.82;
}

.verticalcenter {
    position: absolute;
 	top: 20%;  
}

.color{
	background-color: white;
	opacity: 0.92;
}

input{
	text-align:center;
}

.btn-danger{ 
	border-color: #ff8080; 
	background-color: #ff8080;
}

.btn-danger:hover{ 
	border-color: #FD291E;
	background-color: #FD291E; 
}